/Question11numberOfStringInString.class
/Question12catDog.class
/Question13DoubleYourLetters.class
/Question14isEndLy.class
/HasBad.class
/Question15HasBad.class
/Question16atFirst.class
/Question17isPalindrome.class
