/Question01_TableOf12.class
/Question02_Fibonacci.class
/Question03_Divided_5.class
/Question04_Sum.class
/Question05_OddAndEven.class
/Question06_pattern1.class
/Question07_pattern2.class
/Question08_pattern3.class
/Question09_CheeseBord_Ternary.class
/Question10_pattern5.class
