/Question10_Calori_fat_ratio.class
/Question12_internet_Bill.class
/Question13_Bank_Account.class
/Question14_BookSeller.class
/Question15.class
/Question1_BMI.class
/Question2_Tax_Calculator.class
/Question3_LeapYear.class
/Question4_PhoneBill.class
/Question5_MagicDate.class
/Question6_NEWTON.class
/Question7_secondsTOdayHour.class
/Question8_Discount.class
/Question9_Shipping.class
/Question_11_Speed.class
/values.class
