/question3.class
/Question01_LargeSmallNumber.class
/Question02_CookiesCalorieCalculate.class
/Question03_SumToNum.class
/Question04_FemaleMalePercantage.class
/Question05_CalculateTipTax.class
/Question06_Purchase.class
